<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', { currentPage: 'chat' }) %>
    <main>
      <div class="mainContent">
        <h1>Chat Page</h1>
        <p>Chat with your customer here</p>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>