<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/stylesheets/styleProfile.css" />
  <body>
    <%- include('../partials/header', { currentPage: 'profile' }) %>
    <main>
      <div class="profileMainContent">
        <section class="profileSection">
          <form action="/profile/change-password" method="POST" class="profileForm">
            <div class="profileHeader">
                <h1>Change Password</h1>
            </div>
            <div class="profileFormGroup">
              <label for="currentPassword">Current Password</label>
              <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter current password"/>
            </div>
            <div class="profileFormGroup">
              <label for="newPassword">New Password</label>
              <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password"/>
            </div>
            <div class="profileFormGroup">
              <label for="confirmPassword">Confirm New Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password"/>
            </div>
            <button type="submit" class="btn">Change Password</button>
          </form>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>