<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="userManagementBody">
    <main>
      <div class="userManagementContent">
        <form action="/register" method="POST" class="formContainer">
            <a href="/" style="text-align: center;">
                <img src="/images/logo.png" alt="Logo" width="80px" height="80px" />
            </a>
            <div style="text-align: center;">
                <h1>Register</h1>
            </div>
            <div class="userInput">
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" name="fullName" placeholder=" " required />
            </div>
            <div class="userInput">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder=" " required />
            </div>
              <div class="userInput">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" id="phoneNumber" name="phoneNumber" placeholder="e.g., +61412345678" required />
            </div>
            <div class="userInput">
              <label for="securityQuestion">Secret Question</label>
              <input type="text" id="securityQuestion" name="securityQuestion" placeholder="e.g., What is your favorite color?" required />
            </div>
            <div class="userInput">
              <label for="securityAnswer">Answer</label>
              <input type="text" id="securityAnswer" name="securityAnswer" placeholder="Enter your answer" required />
            </div>
            <div class="userInput">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder=" " required />
            </div>
            <div class="userInput">
              <label for="password">Confirmed Password</label>
              <input type="password" id="password" name="confirmedPassword" placeholder=" " required />
            </div>
            <button type="submit">Register</button>
            <p class="userFormFooter">Already have an account? <a href="/login" class="userManagementLink">Login</a></p>
        </form>
      </div>
    </main>
  </body>
</html>