<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="userManagementBody">
    <main>
      <div class="userManagementContent">
        <form action="/register" method="POST" class="formContainer">
            <a href="/" style="text-align: center;">
                <img src="/images/logo.png" alt="Logo" width="80px" height="80px" />
            </a>
            <div style="text-align: center;">
                <h1>Register</h1>
            </div>
            <div class="userInput">
                <input type="text" id="fullName" name="fullName" placeholder=" " required />
                <label for="fullName">Full Name</label>
            </div>
            <div class="userInput">
                <input type="email" id="email" name="email" placeholder=" " required />
                <label for="email">Email</label>
            </div>
            <div class="userInput">
                <input type="password" id="password" name="password" placeholder=" " required />
                <label for="password">Password</label>
            </div>
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>