<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', { currentPage: 'orders' }) %>
    <main>
      <div class="main-content">
        <h1>Order Page</h1>
        <p>Track and manage your orders here.</p>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>