body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(44, 87%, 94%); 
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.header {
    background-color: hsl(44, 87%, 90%); 
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 0px 1px black;
}
main{
    padding: 10px 30px;
    margin: 0 auto;
}
.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333; 
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: hsl(44, 87%, 85%);
    color: #000; 
}

.nav-links a.active {
    background-color: hsl(44, 87%, 80%); 
    color: #000; 
    font-weight: bold;
    box-shadow: 4px 4px 0px 1px black;
}

.nav-links a i {
    font-size: 1.2rem;
    margin-right: 5px;
}

/* Buttons */
button, .btn {
    background-color: hsl(27, 87%, 70%);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1.5px solid black;
    box-shadow: 4px 4px 0px 1px black;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: hsl(12, 76%, 65%);
}

button:active, .btn:active {
    background-color: hsl(15, 67%, 60%);
}
/*User management style*/
.userManagementBody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.userManagementContent{
    margin: 0;
    background-color: white;
    width: 350px;
    padding: 15px 100px;
    border: 1.5px solid black;
    box-shadow: 4px 4px 0px 2px black;
}
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userManagementContent .userInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}
.userManagementContent .userInput label{
    font-weight: bold;
}
.userManagementContent .userInput input{
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.userManagementContent .userInput input:focus{
    border-color: hsl(44, 87%, 70%);
    outline: none;
    box-shadow: 0 0 8px hsl(44, 87%, 70%);
}
.userFormFooter{
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
}
.userManagementLink{
    color: hsl(27, 87%, 70%);
    text-decoration: none;
    font-weight: bold;
}
.userManagementLink:hover {
  text-decoration: underline;
}
.userManagementLink:active, .userManagementLink:visited{
    color: hsl(15, 67%, 60%);
}
