<!-- filepath: /workspaces/javascript-node-postgres-3/e-commercial-project/views/order/sales.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title }) %>
  <body>
    <%- include('../partials/header', { currentPage: 'sales' }) %>
    <main>
      <div class="mainContent">
        <h1>Sales</h1>
        <p>No sales yet.</p>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>