<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
    <body>
        <%- include('../partials/header.ejs', { currentPage: "home" }) %>
        <main>
            <div class="mainContent">
                <h1>Welcome to Eco Campus Exchange</h1>
                <p>
                    Eco Campus Exchange is your sustainable campus marketplace, designed to foster a community of students, faculty, and staff who value sustainability and waste reduction. 
                    Our platform enables you to buy, trade, and sell used textbooks, lab gear, and gadgets, promoting a more sustainable and economically efficient campus.
                </p>
                <p>
                    Join us in building a greener future by reducing waste and reusing resources. Together, we can make a difference!
                </p>
                <div class="homeActions">
                    <a href="/products" class="btn">Explore Products</a>
                    <a href="/register" class="btn">Join the Community</a>
                </div>
            </div>
        </main>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>