<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', { currentPage: 'cart' }) %>
    <main>
      <div class="main-content">
        <h1>Cart Page</h1>
        <p>Review the items in your cart before checkout.</p>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>